{% load static %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
        <title>Dhanlexmi Acnt register</title>
            <script src="https://kit.fontawesome.com/1b99dd44bf.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/fav.png' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
        <script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' %}">
<link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body class="bg-white">
        <div class="container-fluid vh-100 overflow-auto">
            <div class="row vh-100 ">
                <div class="col-lg-6 bg-gray p-5 text-center">
                   <h2 class="text-center fw-bolder fs-2" style="color:Blue;">Dhanlexmi Bank</h2>
                   <p class="mb-3 fs-7">Create your Bank account here</p>
<!--                   <a href="{% url 'credentials:login' %}"><button class="btn fw-bold mb-5 btn-outline-success px-4 rounded-pill"></button></a>-->
                   <div class="img-cover p-4">
                        <img src="{% static '/images/loginbg.svg' %}" alt="">
                   </div>
                </div>
                <div class="col-lg-6 p  vh-100">
                   <div class="row d-flex vh-100">
                       <div class="col-md-8 p-4 ikigui m-auto text-center align-items-center">
                           <h4 class="text-center fw-bolder mb-4 fs-2">Create Account</h4>
                           <form action="submit" method="post">
                               {% csrf_token %}
                            <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-person"></i></span>
                              <input type="text" name="username" class="form-control ps-2 border-start-0 fs-7 inbg form-control-lg mb-0" placeholder="Full Name" aria-label="Username" aria-describedby="basic-addon1">
                           </div>

                           <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>
                              <input type="date" name="password" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="DOB" aria-label="Username" aria-describedby="basic-addon1"> *DOB
                           </div>
                                 <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>
                              <input type="text" name="cpassword" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
                           </div>
                             <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>
                              <input type="text" name="cpassword" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="Age" aria-label="Username" aria-describedby="basic-addon1">
                           </div>
                                 <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>
                              <input type="email" name="cpassword" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="e-mail" aria-label="Username" aria-describedby="basic-addon1">
                           </div>
                                 <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>
                              <input type="radio" name="gender" value="male"> Male &nbsp; &nbsp;
                               <input type="radio"  name="gender" value="female"> Female

                           </div>
                                 <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>
                              <input type="number" name="cpassword" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1">
                           </div>
                                    <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>
                                        <b>Account type:</b> &nbsp;
                                        <div class="col-sm-8">
                          <select name="createdby" required="required" style="padding-top: 3px;" class="form-control sml-frm input-sm">
                              <option value="">Select</option>
                              <option value="savings">Savings Account</option>
                              <option value="fixed">Fixed Deposit Account</option>
                              <option value="current">Current Account</option>
                              <option value="Recurring">Recurring Deposit Accounr</option>
                              <option value="NRI">NRI Account</option>

                          </select>
                                            <br><br>
<!--                              <input type="number" name="cpassword" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1">-->
                           </div>
                             <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>


                                 &nbsp;<b>Required documents are: </b> &nbsp;

                                 <ul>
                                     <li>Aadhar </li>
                                    <li> Birth Certificate </li>
                                     <li>Pan card </li>
                                  <li>Passport Size Photo</li>
                                  <li> Signature</li>
                                 </ul>
<!--                                 <select name="createdby" required="required" style="padding-top: 3px;" class="form-control sml-frm input-sm">-->
<!--                              <option value="">Documents</option>-->
<!--                              <option value="savings">Aadhar</option>-->
<!--                              <option value="fixed">Birth Certificate</option>-->
<!--                              <option value="current">Pan Card</option>-->
<!--                              <option value="Recurring">Passport Size Photo</option>-->
<!--                              <option value="NRI">Signature</option>-->


<!--                          </select>-->
                                &nbsp; <input type="file">



<!--                              <input type="number" name="cpassword" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1">-->
                           </div>
                                        <div class="input-group mb-4">
                              <span class="input-group-text border-end-0 inbg" id="basic-addon1"><i class="bi bi-lock"></i></span>
<!--                              <input type="email" name="cpassword" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="e-mail" aria-label="Username" aria-describedby="basic-addon1">-->
                                 <b>The Documents Uploaded :</b> &nbsp;&nbsp;
                                            <div>
                                         <br>  <input type="checkbox" id="aadhar" name="aadhar" value="aadhar"> Adhar Card &nbsp;
                                           <input type="checkbox" id="certificate" name="certificate" value="certificate"> Birth Certificate  &nbsp;
                                              <input type="checkbox" id="Pan" name="Pan" value="Pan"> Pan card  &nbsp;
                                            <input type="checkbox" id="photo" name="photo" value="photo"> Passport Size Photo &nbsp;
                                            <input type="checkbox" id="sign" name="sign" value="sign"> Signature
                                        </div>

                               </form>

                         <a href="{% url 'credentials:submit' %}"> <button type="submit" class="btn btn-lg fw-bold fs-7 btn-success  w-100">Submit</button>  </a> &nbsp; &nbsp;
<!--                           <div class="popup" id="popup">-->
<!--                               <img src="{% static 'img/tick.png' %}">-->
<!--                               <h2>Thank You </h2>-->
<!--                               <p>Your Account has been Created Successfully. Thank You!</p>-->
<!--                             <a href="{% url 'bank_app:index' %}" ><button type="button" onclick="closePopup()"> OK  </button> </a>-->
<!--                           </div>-->
<!--                           -->
                           
                         <a href="{% url 'credentials:logout' %}"> <button class="btn btn-lg fw-bold fs-7 btn-success  w-100"><i class="fa-solid fa-right-from-bracket"></i>Logout</button>  </a>


                       </div>
                   </div>

                </div>
            </div>
        </div>


    </body>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
    <script src="{% static 'assets/plugins/testimonial/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

</html>