{% extends 'layout/nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block 'content' %}
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        h1{
            text-align: center;
            margin-top: 15px;
            text-decoration: underline;
        
        }
     
    </style>
</head>
<body>
    

     <h1>ABOUT RJ-TECH'S HACKATHON EVENT</h1>

<div class="container col-sm-12 col-md-12 col-lg-12">
<p style="text-align: justify;">RJ Tech's annual hackathon is a vibrant, high-energy event designed to ignite creativity and push the boundaries of technological innovation. It typically attracts participants ranging from students to professionals, all eager to tackle challenges in areas like software development, artificial intelligence, cybersecurity, and more. Over the course of the event, participants work intensively on developing cutting-edge prototypes or solutions to specific problem statements provided by RJ Tech or event sponsors.
    <br>

    Workshops and mentorship sessions are often part of the event, giving participants access to experts who guide them in honing their technical skills and project management strategies. The hackathon culminates with project demonstrations, where teams pitch their solutions to a panel of judges, which usually includes tech leaders, investors, and industry experts. Awards are given to the best projects in categories such as innovation, best design, and social impact.
    <br>

    Beyond the competition, RJ Tech's hackathon is also a space for networking, where participants can interact with like-minded individuals, potential employers, and industry leaders. The event not only showcases talent but also serves as a platform for future collaboration, startup ideas, and career opportunities.
<br>RJ Tech organizes an annual hackathon program, a competitive event where participants come together to solve real-world problems through coding and innovative solutions. The hackathon brings together developers, designers, and tech enthusiasts who collaborate in teams to build projects within a set time frame, typically 24 to 48 hours. Participants present their solutions to a panel of judges, and winners are awarded based on creativity, technical skill, and practicality. RJ Tech’s hackathon fosters innovation, teamwork, and learning, providing a platform for individuals to showcase their talents and network with industry professionals.
</p>

   
</div>


{% endblock %}
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>