{% extends 'base.html' %}
{% block body %}

<form method="POST" style="justify-content:center;display: flex;border:#424242; border-width:5px; border-style:solid;" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter cartoon name ">
     <input type="text" name="char" placeholder="Characters">
    <input type="text" name="desc" placeholder="About your Cartoon">
    <input type="file" name="img">
    <input type="submit">


</form>
{% endblock %}